*{
    margin: 0;padding: 0;box-sizing: border-box;
    color: #fff;
}
.home-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: auto;
    width: 100%;
    background: #1b1b1b;;

    .home-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: left;

        .content-title{
            font-size: 3rem;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            ///color: #333;
        }

        .content-desc{
            font-family: "Urbanist", sans-serif;
            font-size: 1rem;
            letter-spacing: 0.5px;
            font-weight: 400;
            color: #fff;
            opacity: 0.6;
            width: 80%;
            //color: #333;
        }
        .get-started-btn{
            margin: 1.5rem 0;
        }
    }
    .home-timer-container{
        width: 40%;
        height: 100vh;
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        align-items: left;

    }
    #diff{
        color: #4F7D5C;
        background-image: linear-gradient(45deg, #D0F09F,#4F7D5C);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 0.3s ease-in-out;
    }
    #home-logo{
        width: 80%;
    }
}