.btn {
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-family: "Urbanist", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  border: 1px solid #333;
  border-radius: 3px;
  transition: 0.3s ease;
  background-color: #161416;
}

.btn:hover {
    background-color: #fff;
    color: #161416;
}

#emailbtn{
  width: 70%;
}