.timer-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-color: #1b1b1b;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  padding: 2rem;
  box-sizing: border-box;

  .timer-box-title {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin: 0.5rem 0;
    font-family: "DM Sans", sans-serif;
    background-color: #1b1b1b;
  }
  .timer-box-time {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    width: 100%;

    #timer-box-img {
      width: 45%;
      height: 100%;
      margin-bottom: 10px;
      background-color: #1b1b1b;
    }
  }
  .input-box {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #1b1b1b;
    align-items: left;
    margin: 0.1rem 0;
    justify-content: center;
    align-items: left;

    p {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;
      font-family: "DM Sans", sans-serif;
      background-color: #1b1b1b;
      margin-bottom: 5px;
    }
  }
}
